body {
    margin: .2in .5in .5in .5in;
    max-width: 8in;
    font-family: 'Sitka Text';
    font-size: 14pt;
}

h1 {
    font-family: 'Sitka Heading';
    font-size: 24pt;
}

h1 a {
    text-decoration: none;
}
